# app
alembic
captcha
click
colorama
dominate
Flask
Flask-Login
Flask-Migrate
Flask-Reuploaded
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
Pillow
psycopg2
pytz
SQLAlchemy
visitor
Werkzeug
WTForms
