<!doctype html>
<html lang="en">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet'>
    <!-- Scripts -->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <!-- test -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js  "></script>
    <!-- Selection js -->
    <script type="text/javascript">
      function assign_object() {
        !$('#allies_list option:selected').remove().appendTo('#allies_selected');
        !$('#allies_selected option').prop('selected', false);
      };
      function unassign_object() {
        !$('#allies_selected option:selected').remove().appendTo('#allies_list');
        !$('#allies_list option').prop('selected', false);
      };
      function select_all() {
        $('#allies_selected option').prop('selected', true);
      };
      $(document).ready( function() {
        $('#allies_selected option').prop('selected', true);
        $('#allies_list').click( assign_object );
        $('#allies_selected').click( unassign_object );
        $('#submit').click( select_all );
      })
      window.onmousedown = function (e) {
        var el = e.target;
        if (el.parentElement.name == 'code') {
          if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
            e.preventDefault();
            if (el.hasAttribute('selected')) el.removeAttribute('selected');
            else el.setAttribute('selected', '');
          }
        }
      }
    </script>
  <title>Plum</title>
  </head>
  <body class="bg scrollbar">
    {% include 'navbar.html' %}
    <br/>
    <div class='container'>
        {% block content %}
        {% endblock %}
    </div>
    <!--
    Hola Plum
    Loaki#9646 pour vos dons
    (fuck deza)
    -->
  </body>
  <footer>
    <p style="color: #55555563"><a href="{{url_for('index')}}" style="text-decoration: none; color:#fbba4269">Plum</a> Ce site n'est en aucun cas affilié à Ankama Games®.<br>Les images utilisées ont été lachement volées</p>
  <footer>
</html>